WATCHPARTY_PORT=5467
# Diretório montado como a origem "local" definida em docker/save.json.
WATCHPARTY_MEDIA_DIR=./videos
TURN_HOST=turn.exemplo.com
TURN_REALM=watchparty
TURN_SECRET=substitua-por-um-segredo-aleatorio-longo
TURN_PORT=3478
TURN_MIN_PORT=49160
TURN_MAX_PORT=49200
TURN_CREDENTIAL_TTL=86400
